/*
header.top {
    background-color: aqua;
}
*/

h1.top {
    background-color: brown;
    color: aliceblue;
    display: inline;
}

body.Home {
    background-color: yellow;
    color: purple;
    display: inline;
}

body.intro {
    background-color: azure;
    color: coral;
    display: inline;
}

p.block {
    border: 1px solid black;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 25%;
    margin-left: 25%;
    background-color: lightblue;
}

img.centerPic {
    margin-bottom: 100px;
    margin-left: 38%;
    margin-right: 38%;
}